<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="static/4375054_logo_pi_raspberry_icon.png" type="image/x-icon">
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="static/test.css">
        <title>Cryptic Pi</title>
    </head>
    <body>
        <div class="rahmen">
            <p class="output">Output:</p> 
            <p class="message">{{ message }}</p>
            <button onclick="window.history.back()">Zurück</button>
            <button>Copy</button>
        </div>
        <canvas id="canvas">Canvas is not supported in your browser.</canvas>
        <canvas id="canvas2">Canvas is not supported in your browser.</canvas>
    </body>
    <script src="static/script.js"></script>
</html>