<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Testseite</h1>
    <form method="post" action="http://10.0.0.156:5000/sendMessage"> <input type="text" name="message"><input
            type="password" name="password">
            <input type="radio" name="encrypt" value="encrypt" checked> Verschlüsseln
            <input type="radio" name="encrypt" value="decrypt"> Entschlüsseln
        <button type="submit">Verschlüsselung</button></form>
    
</body>
</html>